html{
    margin: 0;

}

.padre{
    border: 1px solid black;
    width: 50vw;
    height: 50vh;
    margin: auto;

}

.sticky{
    background-color:orange;
    width: 150px;
    height: 150px;
    position: sticky;
    top: 20px;
}

.relative{
    background-color:goldenrod;
    width: 150px;
    height: 150px;
    position: relative;
    top: 50px;
    left: 50px;
}

.absolute{
    background-color: hotpink;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 20px;
}

.fixed{
    background-color: lightskyblue;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 50px;
}

.cm {
    font-size: 2cm;
}
.mm{
    font-size: 5mm;
}
.px{
    font-size: 15px;
}
.pt{
    font-size: 10pt;
}
.in{
    font-size: 3in;
}
.pc{
    font-size: 15pc;
}

.em {
    font-size: 1em;
}

.rem {
    font-size: 2rem;
}

img {
    width: 50vw;
    height: 50vh;
}


.margin{
    background-color:darkgreen;
    width: 200px;
    height: 150px;
    margin-left: 20px 10px 5px 3px;
}

.padding {
    background-color: cornflowerblue;
    width: 200px;
    height: 150px;
    padding: 50px;
}

.border {
    background-color:darkkhaki;
    width: 200px;
    height: 150px;
    border: tomato 15px outset;
}

.caja-completa {
    background-color:lightskyblue;
    width: 200px;
    height: 150px;
    margin: 30px;
    padding: 50px;
    border: 5px black solid;    
}


@font-face {
    font-family: josefin;
    src: url(../fonts/formulario2122.html);
}


span{
    font-size: 30px;
}
h1 {
    color:#001154;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#parrafo-principal {
    color: darkblue;
    background-color: darkturquoise;
}

p {
    color:darkmagenta
}

.color-verde {
    color: darkgreen;
}

