*{
margin: 0;
padding: 0;
font-size: 28px;

}

header{
    height: 25vh;
    display: flex;
    justify-content: space-between;
    background-color: navy;

}

ul{
    display: flex;
    list-style-type: none;
    align-self: flex-start;
}

ul li{
    margin: .5em;
}

a{
    color:oldlace;
    text-decoration: none;
    text-transform: 
    font-size: 0.5em;
}

img{
    border-radius: 50%;
}