.body{
    margin: 0;    
}

html{
    font-family: Arial, Helvetica, sans-serif;    

}

.profile-img {
    width: 30%;
    height: 30%;
    border-radius: 50%;  

}

.menu-redes {
    display: grid;
    grid-template-columns: 2fr;
}

.nav-wrapper{
    display:flex;
    justify-content: space-between;
    padding: 2%;
}

.right-side{
    display: flex;
}

.nav-wrapper >.right-side>div{
    margin-left: 30px;
    margin-top: 30%;
    font-size:1em;
    text-transform: uppercase;

}

.nav-link-wrapper a{
    color:#787942;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid blank;
}

.nav-link-wrapper a:hover{
    color:black;
}


.centrado{
	background: white;
	margin: 0;
    margin: 0 auto;
    padding: 0 1em;
}

.cards{
    display: grid;
    height: auto;
    padding: 1rem;
    grid-template-areas:"uno dos tres"
                        "cuatro cinco seis";
                       
    grid-gap: 1rem;
}

.s1{
    grid-area: uno;
}
.s2{
    grid-area: dos;
}
.s3{
    grid-area: tres;
}
.s4{
    grid-area: cuatro;
}
.s5{
    grid-area: cinco;
}
.s6{
    grid-area: seis;
}


@media screen and (max-width: 800px) {
    .cards{
        grid-template-areas:    "uno uno uno"
                                "dos dos dos"
                                "tres tres tres"
                                "cuatro cuatro cuatro"
                                "cinco cinco cinco"
                                "seis seis seis";
    }
}


@media screen and (min-width: 52em) {
    .centrado{
        max-width: 52em;
    }    
}

.menu-section{
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
    border-bottom: 1px solid hsl(0, 0%);    
}

.menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: hsl(160, 8%, 44%);
}


.menu li a {
    display: block;
    text-decoration: none;
    background: hsl(184, 42%, 46%);  
    color:white;
    padding: .6em 1em;
}

.menu li a:hover{  
    background:white;
    color: #686930;
    transition: 0.3s;
}

.menu-simple ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-simple li {
    flex:1 0 auto;
    text-align: center;
}

.tarjeta{
    background:rgb(240, 225, 198);
    margin-bottom: 2em;
    padding: 0;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 40% 40%;   
}



.tarjeta a{
    color: black;
    text-decoration:none;
}
.tarjeta a:hover{
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.tarjeta-content{
    padding: 0;
}


.tarjeta-content h2{
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: normal;
    color:mediumvioletred;
}

.tarjeta-content p{
    font-size: 95%;
    text-align: justify;    
    padding: 0fr;
}

.tarjeta-content li a i{
    color: #686930;
}

figure{
    margin: 0;
}

img{
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}

.footer{
    text-align: center;
}